body {
    padding-top: 3.5rem;
}

h1 {
    padding-bottom: 9px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}
.thead{
    background-color: #007bff;
    color: white;
}
.action-row{
    width: 135px;
    text-align: center;
    background-color: #007bff;
}


.paginate {
    background: #fff;
    border-radius: 2px;
    height: 32px;
    line-height: 32px;
    position: relative;
}
.option{
    position: relative;
}
.profile{
    margin-left: 400px ;
    width: 40%;
    height: 40%;
}
.pro{
    margin-left: 400px ;
    width: 20%;
    height: 20%;
}


